@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
font-family: 'Roboto Slab', sans-serif;
}
  
  /* Header styles */
.header {
    text-align: center;
    margin-top: 20px; /* Adjust the top margin as needed to create space from the top of the page */
  }
  
/* Center the logo at the top */
.logo {
    display: block ; /* Make it a block-level element */
    margin: 0 auto ; /* Center horizontally */
    padding-top: 20px; /* Add top padding to control the vertical position */
}
body {
  background: #f1df8b;
}

.loop {
  width: 100%;
}
.photo-grid-container {
  column-count: 5;
  column-width: 300px;
}
.photo-grid-item {
  margin: 0 auto 15px;
  max-width: 400px;
  width: 100%;
}
/* Add this CSS to your external stylesheet (styles.css) */
.photo-grid-item {
  position: relative;
  overflow: hidden;
}

.photo-grid-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.photo-grid-item:hover img {
  transform: scale(1.1) rotate(10deg);
  transform-origin: center;
}

/* You can adjust the scale and rotate values to achieve the desired wobble effect. */
