@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
  font-family: 'Abril Fatface';
}
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
.html {
  scroll-behavior: smooth;
}

/* Styling the top part of the page */
.body {
    overflow-x: hidden;
  }
  .container {
    max-width: 100%;
    width: 100%;
  }
  
  /* caruosel slide styling */

.my-carousel {
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}
.my-carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.my-carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: 'Orelo-sw-db', serif;
}
.my-carousel-item .carousel-box:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
}
.my-carousel-item .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}
.my-carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.my-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}
.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orelo-sw-db', serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;
}
.social a {
  display: inline-block;
  margin-left: 3px;
}
.social svg {
  --fill: #fff;
  width: 35px;
  height: 35px;
}
.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
@media (pointer: fine) {
  .cursor {
    display: block;
 }
}
.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

/* Styling the footer */
.footer {
  background: rgb(31, 199, 255);
  background: linear-gradient(
    90deg,
    rgba(31, 199, 255, 1) 0%,
    rgba(2, 3, 60, 1) 18%,
    rgba(37, 109, 148, 1) 88%,
    rgba(31, 199, 255, 1) 100%
  );
}

footer {
  text-align: center;
  padding-top: 30px;
  background: rgb(31, 199, 255);
  background: linear-gradient(
    90deg,
    rgba(31, 199, 255, 1) 0%,
    rgba(2, 3, 60, 1) 18%,
    rgba(37, 109, 148, 1) 88%,
    rgba(31, 199, 255, 1) 100%
  );
}

footer p {
  margin-top: 10px;
}

footer img:hover {
  animation: wobble 3s infinite;
}

@keyframes wobble {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(10px);
  }
  10% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(-10px);
  }
}

/* Button styling */
.btn-primary {
  float: right;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
  background-color: transparent;
  color: #ffd700;
  box-shadow: none;
}

/* Hamburger icon styling */
.navbar-toggler-icon {
  color:#fff;
  border: 10px;
  outline: 10px;
  width: 30px;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

/* Hamburger icon color on hover */
.navbar-toggler-icon:hover {
  background-color: #fff;
}

/* Hamburger icon animation */
.wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.wrapper .line {
  background-color: #9b45b2;
  border-radius: 5px;
  width: 1-0%;
  height: 10px;
}
.wrapper .line.half {
  width: 50%;
}
.wrapper .line.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.wrapper .line.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.wrapper.open {
  transform: rotate(-45deg);
}
.wrapper.open .line.start {
  transform: rotate(-90deg) translateX(3px);
}
.wrapper.open .line.end {
  transform: rotate(-90deg) translateX(-3px);
}

.navbar-toggler-icon.active {
  transform: rotate(45deg);
}

.navbar-toggler-icon.active:before {
  transform: rotate(-90deg) translate(-8px, 0px);
}

.navbar-toggler-icon.active:after {
  transform: rotate(90deg) translate(-8px, 0px);
}

/* Navbar styling */
.navbar {
  background-color: rgba(1, 36, 80, 0.8);
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
}

/* Nav links animation */
.nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

/* Center the "Book Now" button on smaller screens */
@media (max-width: 768px) {
  .navbar-collapse.justify-content-center {
    text-align: center;
  }
  .navbar-collapse.justify-content-center .btn {
    display: block;
    margin: 0 auto;
  }
}

/* Styling for the collapsed button background color */
.navbar-toggler-bg {
  background-color: #fff; /* Change this to your desired background color */
}

/* Center items vertically */
.navbar-nav {
  display: flex;
  justify-content: center;
}

/* Logo styling */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Logo image styling */
.navbar-brand img {
  height: 70px; /* Adjust to match the height of your navbar */
  object-fit: contain; /* or object-fit: cover; depending on your preference */
  margin-right: 10px; /* Add some spacing between the image and text */
}

/* Logo text styling */
.navbar-brand span {
  font-size: 18px; /* Adjust the font size as needed */
  color: #fff; /* Text color */
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
}
.card {
  position: relative;
  height: 28rem;
  width: 20rem;
  aspect-ratio: 0.7142857143;
  color: #ffffff;
  perspective: 50rem;
}

.card .shadow {
  position: absolute;
  inset: 0;
  background: var(--url);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: blur(2rem) saturate(0.9);
  box-shadow: 0 -1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.7);
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 2rem, -2rem);
}
.card .image {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 40%), var(--url);
  background-size: cover;
  background-position: center;
  mask-image: var(--url);
  mask-size: cover;
  mask-position: center;
}

.card .image.background {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 0rem);
}
.card .image.cutout {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 4rem) scale(0.92);
  z-index: 3;
}
.card .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    inset: 0;
    padding: 3.5rem;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 6rem);
    z-index: 4;
    height: 100%;
    overflow: auto; /* Add overflow to make the content scrollable if it overflows */
}

/* Add a max-height to limit the scrollable area */
.card .content .scrollable-text {
    max-height: calc(100% - 1rem); /* Adjust as needed */
}
.card::after, .card::before {
  content: "";
  position: absolute;
  inset: 1.5rem;
  border: #e2c044 0.5rem solid;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 2rem);
}
.card::before {
  z-index: 4;
}
.card.border-left-behind::before {
  border-left: transparent;
}
.card.border-right-behind::before {
  border-right: transparent;
}
.card.border-bottom-behind::before {
  border-bottom: transparent;
}
h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
p {
  font-weight: 300;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}


/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #28292b;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
}
/* Full-width responsive video background */
#logo {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.lanf {
  position: relative;
  width: 100%;
  height: 500px;
}

#logo {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: fade-in 2s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.element {
  animation-name: fade-in;
  animation-duration: 10s;
}


/* Scroll navigation background */
.scroll-nav {
  background-color: rgba(1, 36, 80, 0.8); /* Change the alpha value as needed */
}

/* Background styling */
.backg {
  position: relative;
  height: 50vh;
  overflow: hidden;
  margin-top: 60px; /* Add a margin to push the content below the fixed navigation bar */
}

.lanf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Video container styling */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About container padding */
.container.about {
  padding: 20px;
}

/* Styles for phone display */
@media only screen and (max-width: 600px) {

  .video-container {
    position: relative;
    width: auto;
    height: auto;
    }

  video {
    position: relative;
    width: auto;
    height: auto;
  
  }

    }
    @media (max-width: 768px) {
      .centered {
        flex-direction: column; /* Stack cards vertically on mobile */
        gap: 2rem;
      }
    
      .card {
        width: 100%; /* Full width on mobile */
        height: auto; /* Adjust height based on content */
      }
    
      .card .image.background,
      .card .image.cutout {
        transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) translate3d(0, 0, 0rem);
      }
    
      .card .content {
        transform: rotateX(0deg) rotateY(0deg) translate3d(0, 0, 4rem); /* Adjust transformations for mobile */
      }
      
      /* You can adjust other styles as needed for mobile devices */
    }